/* Todas as outras midias. */

/* Typical device breakpoints
-----------------------------
Pequenas telas: até 600px 
Celular: 600px a 768px 
Tablet: 768px a 992px
Desktop: 992px a 1200px
Grandes Telas: acima de 1200px


*/

@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.0em;
    }
   main { 
    border: 2px solid black;
   } 
   main h1 {
    text-shadow: none;
    color: black;
   }
}


/* Tablet */
@media screen and (min-width:768px) and (max-width: 992px) {        
    html{ 
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#tablet {
    display: block;
}
    img#phone {
        display: none;
    }
}
/* Desktop */
@media screen and (min-width:992px) and (max-width:1200px) {
    html {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#pc {
        display: block;
    }
    img#phone {
        display: none;
    }
}
/* Grandes Telas */
@media screen and (min-width:1200px) {
    html { 
        background-image: url(../imagens/back-tv.jpg);
    }
    img#tv { 
        display: block;
    }
    img#phone { 
        display: none;
    }
}