* {
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 1.6;
    font-family: "Sriracha"
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* configs gerais */

header {
background-color: black;
color: white;
text-align: center;

}

header  h1 {
    font-family: "passion one",sans-serif;
    font-size: clamp(3rem, 12vw, 10rem);
    font-weight: 600;
    padding-top: 20px;
}

header > p {

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
}




/* cabecalho */

main p {
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    line-height: 1.65;
    font-weight: 100;
}

/* main */

section {
    padding: 94.5px 0px 94.5px 30px;
}

section p {

    padding-bottom: 106px;
}

/* section */

footer {
    background-color: black;
    text-align: center;
    color: white;
}





footer p {

    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}

/* rodape  */


#paralaxxb1 {

    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: center center;



}

#paralaxxb2 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: left center;
}



/* ids */




.imagem {
    color: white;
}




.imagem p {
    display: inline-block;
    max-width: 700px;
    background-color: rgba(226, 226, 226, 0.267);
    padding: 5px;
}


/* classes */